/* FLEX COLUMN */
/* MOBILE FIRST MEDIA QUERY 

0 - 600px  {NORMAL STYLE} [phone]
600px - 900px [37.5em] {TABLET PORTRAIT} [tab-port]
900px - 1200px [56.25em] {TABLET LANDSCAPE} [tab-land]
1200px - 1440px [75em] {DESKTOP} [desktop]

*/
.available {
  padding: var(--basic-padding);
  margin-bottom: 10rem; }
  @media only screen and (min-width: 56.25em) {
    .available {
      display: flex;
      flex-direction: column; } }

/* CSS VARIABLES */
:root {
  --cyan: hsl(171, 66%, 44%);
  --blue: hsl(233, 100%, 69%);
  --grayish-blue: hsl(210, 10%, 33%);
  --light-grayish-blue: hsl(201, 11%, 66%);
  --basic-padding: 6.5rem 2.5rem;
  --shadow-cyan: 0 5px 25px hsla(171, 66%, 44%, 10); }
  @media only screen and (min-width: 75em) {
    :root {
      --basic-padding: 6.5rem; } }

/* BASIC RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.container {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--light-grayish-blue);
  min-height: 100vh;
  background-image: url(../img/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; }
  @media only screen and (min-width: 56.25em) {
    .container {
      background-image: url(../img/bg-header-desktop.png); } }
  @media only screen and (min-width: 75em) {
    .container {
      max-width: 150rem;
      margin: 0 auto; } }

.btn-box {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 37.5em) {
    .btn-box {
      flex-direction: row;
      justify-content: center; } }
  .btn-box :first-child {
    margin-bottom: 2.5rem; }
    @media only screen and (min-width: 37.5em) {
      .btn-box :first-child {
        margin-bottom: 0;
        margin-right: 2rem; } }

.btn:link,
.btn:visited {
  text-decoration: none; }

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: 2px solid transparent;
  outline: none; }
  .btn:active {
    transform: translateY(2px); }
  @media only screen and (min-width: 37.5em) {
    .btn {
      width: 50%; } }
  @media only screen and (min-width: 56.25em) {
    .btn {
      width: 35%; } }
  @media only screen and (min-width: 75em) {
    .btn {
      width: 17%;
      font-size: 1.7rem; } }
  .btn--cyan {
    background-color: var(--cyan);
    border: 2px solid #31aa98;
    box-shadow: var(--shadow-cyan); }
  .btn--blue {
    background-color: var(--blue);
    border: 2px solid #4f5ab0; }

.features {
  padding: var(--basic-padding);
  margin-top: 2rem; }
  @media only screen and (min-width: 56.25em) {
    .features {
      display: flex;
      flex-direction: column; } }
  @media only screen and (min-width: 75em) {
    .features {
      display: grid;
      grid-template-columns: 1.3fr 1fr; }
      .features .heading-2,
      .features .paragraph {
        grid-column: 1 / -1;
        justify-self: center; }
      .features__img-box {
        position: relative; }
      .features__wrapper {
        margin-bottom: 5rem;
        margin-top: 2rem; }
        .features__wrapper .paragraph {
          width: 100%;
          text-align: start; } }
  .features__img {
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 2rem; }
    @media only screen and (min-width: 75em) {
      .features__img {
        position: absolute;
        left: -10rem;
        margin-bottom: 0;
        margin-top: 0; } }
  .features__item {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 75em) {
      .features__item {
        align-items: flex-start;
        width: 65%; } }

.footer {
  padding: var(--basic-padding);
  background-color: #f7f7f7; }
  @media only screen and (min-width: 37.5em) {
    .footer {
      display: flex; } }
  .footer__list {
    list-style: none;
    display: grid;
    grid-template-columns: max-content;
    justify-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__list {
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
        gap: 3rem 5rem;
        margin-bottom: 0;
        justify-items: start;
        align-items: center; } }
    @media only screen and (min-width: 75em) {
      .footer__list {
        gap: 3rem 10rem; } }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: var(--grayish-blue);
    transition: all 0.2s; }
  .footer__link:hover {
    color: var(--cyan); }
  @media only screen and (min-width: 37.5em) {
    .footer__item--1 {
      grid-column: 1 / 2;
      grid-row: span 2; }
    .footer__item--2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .footer__item--3 {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    .footer__item--4 {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
    .footer__item--5 {
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .footer__item--6 {
      grid-column: 3 / 4;
      grid-row: 2 / 3; } }
  .footer__logo {
    width: 6rem;
    height: 6rem; }
  .footer__media {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (min-width: 37.5em) {
      .footer__media {
        align-items: center;
        margin-left: auto; }
        .footer__media > * {
          margin-left: 2rem; } }
  .footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #4c545c;
    transition: all 0.2s; }
    .footer__icon--1:hover {
      fill: #3b5998; }
    .footer__icon--2:hover {
      fill: #00acee; }
    .footer__icon--3:hover {
      fill: #e1306c; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--basic-padding); }
  .header__logo {
    display: flex;
    justify-content: center;
    margin: 6rem 0; }
  @media only screen and (min-width: 75em) {
    .header .paragraph {
      width: 45%; }
    .header .heading-2 {
      font-size: 3.7rem; } }

.services {
  padding: var(--basic-padding); }
  @media only screen and (min-width: 56.25em) {
    .services {
      display: flex;
      flex-direction: column; }
      .services__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5rem; } }
  .services__img {
    width: 100%;
    margin-bottom: 8rem; }
    @media only screen and (min-width: 75em) {
      .services__img {
        width: 60%;
        margin: 0 auto; } }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .services__item {
        flex: 1; }
        .services__item .paragraph {
          width: 85%; } }
  .services__customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .services__customer {
        flex-direction: row;
        justify-content: space-between; } }
  .services__icon {
    width: 4.5rem;
    height: 4.5rem;
    margin: 3rem 0; }
  .services__company {
    width: 13rem;
    margin: 4rem 0; }

.heading-2, .heading-3, .heading-4 {
  font-weight: 600;
  color: var(--grayish-blue);
  text-align: center; }

.heading-2 {
  font-size: 3rem; }

.heading-3 {
  font-size: 2.7rem; }

.heading-4 {
  font-size: 2.2rem; }

/* BASIC PARAGRAPH */
.paragraph {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem; }
  @media only screen and (min-width: 56.25em) {
    .paragraph {
      align-self: center;
      width: 50%; } }
